body {
    font: 100% $font-stack;
    background-color: $primaryColor;
  }
  
  .main {
    background-color: $primary-opacity;
    color: $primaryText;
    max-width: 1000px;
    width: 80%;
    min-height: 500px;
    margin: 0 auto;
    font-size: 1.2em;
    }

